#mainContainer {
  background-color: #633c06;
  padding-bottom: 15px;
}

.text {
  color: white;
  font-family: 'Gentium Book Basic', serif;
}

#bookName {
  margin-left: 15px;
  width: 40%;
}

#searchBook {
  float: right;
}

#resultsContainer {
  background-color: #1f4a1d;
  padding-bottom: 1px;
}

#enterBook {
  font-size: 1.5rem;
}

#searchBookText {
  font-size: 3rem;
}

#resultsText {
  font-size: 2.3rem;
  padding-top: 8px;
}