#backgroundJumbo {
  background-image: url("book-img.jpg");
  background-position: center;
  background-size: cover;
}

#headerText, #descriptionText {
  font-weight: bold;
  font-family: 'Gentium Book Basic', serif;
  color: black;
}