#bookImage {
  float: left;
  margin-right: 15px;
}

#clear {
  clear: both;
}

#bio {
  margin-bottom: 0px !important;
}

#resultContainer {
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 15px;
}